/* header */
.header{
    background-image: url(../images/donation13.jpg);
    margin-left: 100px;
    margin-top: 0;
    width: 1100px;
    height: 550px;
    background-repeat: no-repeat;
}
.header-title{
    text-align: center;
    color: white;
    width: 500px;
    padding-top: 130px;
    padding-left: 200px;
    font-weight: 900;
} 
.header-description{
    color:wheat;
    font-size: 15px;
    font-weight: 300;
}
.btn{
    color: white;
    background-color: orangered; 
    border: none;
    border-radius: 5px;
    padding: 10px;
}
/* section 1 */
.d-today{
    margin-top:60px; 
    text-align: center;
}
.amount{
    display: flex;
    gap: 15px; 
    margin-left: 300px;
}
.taka{
    border:2px slid ;
    background-color: lightgray; 
    padding: 20px 15px;
    border-radius: 5px; 
}
.taka:hover{
    background-color:lightcoral ;
    border: 1px solid crimson;
    color: crimson;
}
.other-taka{
    color: lightsteelblue;
    border-bottom: 2px solid lightslategray;
    margin-top: 10px;
     margin-bottom: 20px;
     margin-left: 250px;
     margin-right: 250px;
}
/* section 2 */
.donate{
    text-align: center;
    margin-top: 100px;
}
.donate-box{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.box-one{
    border: 1px solid white;
    background-color:lightsteelblue;
    padding-top: 40px;
    text-align: left;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 40px;
    border-radius: 5px;
}
.box-two{
    border: 1px solid white;
    background-color: lightpink;
    padding-top: 40px;
    text-align: left;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 40px;
    border-radius: 5px;
}
.box-three{
    border: 1px solid white;
    background-color:limegreen;
    padding-top: 40px;
    text-align: left;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 40px;
    border-radius: 5px;
}
/* depends */
.depends{
    display: flex; 
    margin-top: 100px;
    gap: 20px;
    

}
.depends-one{ 
    padding: 60px 40px;
}
.depends-two{
    width: 500px;
    height: 300px;
    margin-right: 100px;
  
}
/* survive */
.survive{
    margin-top: 400px;
    display: flex;
    gap: 30px;
}
.survive-one{
    margin-left: 100px;
}
.survive-two{
    padding: 30px 30px;
}
/* updates */
.updates{ 
    margin-top: 100px;

}
.updates-one{
    text-align: center;
    margin: 30px 200px;


}
.updates-description{
    font-size: 16px;
    font-weight: 300;
    color: gray;
}
.updates-two{
 text-align: center;
 border: 2px solid white;
 border-radius: 5px;
 background-color: lightpink;
 margin-left: 200px;
 margin-right: 200px;
 padding-top: 60px;
 padding-bottom: 60px;

}
/* humble */
.humble{
    text-align: center;
    background-color: black;
    padding: 40px;
    margin-top: 50px;
}
.sty{
    font-size: 40px;
    font-weight: 900;
    color: red;
    font-family: sans-serif;
}
.sty-one{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 900;
}
.footer{
    text-align: right;
    color: lightyellow;
    background-color: orangered;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 800px; margin-top: 5px;
}
.footer-one{
    color: chartreuse;
}